.App {
  margin: 20px
}

.questionnaire{
  display: flex;
  flex-flow: column;
}
.questionnaire_form{
  margin:30px
}
.questionnaire_form_questions{
  margin-bottom: 10px;
}
.results_item{
  padding:0 15px 0 15px
}

td{padding:0 15px 0 15px}